.hero__ {

    &container {
        @include bd;
        padding: 0 2em;

        @extend %flex;

        > * {
            @include bd(green);
            margin-bottom: 3.5em;
            width: 100%;

            flex: 1 1 50%;
        }
    }

    &flex-1 {

        min-width: 668px;
    }

    &flex-2 {
        min-width: 200px;
    }

    &heading {
        @extend %tt;
        font-size: 3.5em;
        font-weight: $weight700;
        // line-height: 70px;
    }

    &sub-heading {
        @extend %blue-font;

        font-weight: $weight400;
        font-size: 20px;
        line-height: 34px;
        

        margin-top: 1.875em;
        margin-bottom: 1.875em;
    }

    &img {
        width: 100%;
    }

} 

